<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/swiper.css" />
	<link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_2268060_n1vxgbsaso.css" />
	<title>华为 - 构建万物互联的智能世界</title>
</head>

<body>
	<div class="link-block"></div>
	<div class="site-topbar">
		<!--	版心区域-->
		<div class="container">
			<div class="topbar-nav">
				<a class="topbar-li" href="#"><span>首页</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#"><span>华为官网</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#"><span>荣耀官网</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#"><span>花粉俱乐部</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#"><span>V码(优购码)</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#"><span>企业购</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#">
					<span>Select Region</span>
				</a>
				<span class="line">|</span>
				<a class="topbar-li" href="#">
					<span>更多精彩</span>
					<div class="showcode">
						<div class="triangle"></div>
						<div class="appcode">
							<p>EMUI</p>
							<p>应用市场</p>
							<p>华为终端云市场</p>
							<p>开发者联盟</p>
						</div>
					</div>
				</a>
			</div>
			<div class="topbar-nav-right">
				<a class="topbar-li" href="#"><span>请登录&nbsp;&nbsp;&nbsp;注册</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#"><span>我的订单</span></a>
				<span class="line">|</span>
				<a class="topbar-li" href="#">
					<span>客户服务<i class="iconfont icon-arrow-down"></i></span>
				</a>
				<span class="line">|</span>
				<a class="topbar-li" href="#">
					<span>网站导航<i class="iconfont icon-arrow-down"></i></span>
				</a>
				<span class="line">|</span>
				<a class="topbar-li" href="#">
					<span>手机版<i class="iconfont icon-arrow-down"></i></span>
					<div class="dropdown-code">
						<div class="triangle"></div>
						<div class="appcode">
							<img src="../static/img/二维码/二维码3.jpg" style="margin-left: 15px;" />
						</div>
					</div>
				</a>
				<a class="topbar-li" href="#"
					style="font-size:12px;color:#b0b0b0;background-color:#4F4F4F                     ;"><span>
						<i class="iconfont icon-gouwuchekong"></i>
					</span>购物车（<span>0</span>）
				</a>
			</div>
		</div>
	</div>

	<div class="site-header">
		<div class="container">
			<div class="left">
				<div class="nav-logo">
					<img src="../static/img/SXppnESYv4K11DBxDFc2.png" />
				</div>
				<div class="nav-list">
					<ul class="nav-list-ul">
						<a>
							<li class="nav-list-li rcorners1">华为专区</li>
						</a>
						<a>
							<li class="nav-list-li rcorners2">荣耀专区</li>
						</a>
						<a>
							<li class="nav-list-li">P40系列</li>
						</a>
						<a>
							<li class="nav-list-li">荣耀30</li>
						</a>
						<a>
							<li class="nav-list-li">智能家居</li>
						</a>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="right-input">
					<div class="search-bar-form">
						<input type="text" class="text" maxlength="200" autocomplete="off">
						<div class="button"></div>
					</div>
					<div class="search-bar-key">
						<div class="searchBar-key">
							<a>Mate系列</a>
							<a>耳机</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-box">
		<div class="container_lb">
			<div class="swiper-container swiper-no-swiping banner">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="../static/img/b1.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="../static/img/b2.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="../static/img/b3.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="../static/img/b4.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="../static/img/b5.jpg" />
					</div>
					<div class="swiper-slide">
						<img src="../static/img/b6.jpg" />
					</div>
				</div>
				<div class="swiper-prev"></div>
				<div class="swiper-next"></div>
				<div class="swiper-pagination"></div>
				<div class="site-category-list">
					<div class="site-category-item">
						<span>手机</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/手机/HUAWEI%20Mate系列.png" />
									<div>HUAWEI Mata系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/HUAWEI%20P系列.png" />
									<div>HUAWEI P系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/HUAWEI%20nova系列.png" />
									<div>HUAWEI nova系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/HUAWEI%20麦芒系列.png" />
									<div>HUAWEI 麦芒系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/华为%20畅享系列.png" />
									<div>华为畅享系列</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/手机/荣耀%20V系列.png" />
									<div>华为荣耀V系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/荣耀%20HONOR系列.png" />
									<div>荣耀HONOR系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/荣耀%20X系列.png" />
									<div>荣耀x系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/手机/荣耀%20Play系列.png" />
									<div>荣耀play系列</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>笔记本</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/笔记本/华为MateBook%20X系列.png" />
									<div>华为MateBook X系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/笔记本/华为MateBook系列.png" />
									<div>华为MateBook 系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/笔记本/华为MateBook%20D系列.png" />
									<div>华为MateBook D系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/笔记本/华为MateBook%20B系列.png" />
									<div>华为MateBook B系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/笔记本/荣耀猎人游戏本系列.png" />
									<div>荣耀猎人游戏本系列</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/笔记本/荣耀MagicBook系列.png" />
									<div>荣耀MagicBook 系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/笔记本/荣耀MagicBook%20Pro系列.png" />
									<div>荣耀MagicBook Pro系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/笔记本/个人电脑配件.png" />
									<div>个人电脑配件</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>平板</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/平板/华为MatePad系列.png" />
									<div>华为MatePad系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/平板/华为畅想系列.png" />
									<div>华为畅想系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/平板/荣耀畅玩想系列.png" />
									<div>荣耀畅玩想系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/平板/荣耀V系列.jpg" />
									<div>荣耀V系列</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/平板/荣耀数字系列.png" />
									<div>荣耀数字系列</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/平板/平板配件.png" />
									<div>平板配件</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>智能穿戴&VR</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/智能穿戴&VR/VR.png" />
									<div>VR</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能穿戴&VR/儿童手表.png" />
									<div>儿童手表</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能穿戴&VR/智能体脂称.png" />
									<div>智能体脂称</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能穿戴&VR/智能手环.png" />
									<div>智能手环</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能穿戴&VR/智能手表.png" />
									<div>智能手表</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/智能穿戴&VR/穿戴配件.png" />
									<div>穿戴配件</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>智能家居</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/智能家居/HiLinK生态.png" />
									<div>HiLinK生态</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能家居/智能储存.png" />
									<div>智能储存</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能家居/智能路由.png" />
									<div>智能路由</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能家居/智能音箱.png" />
									<div>智能音箱</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智能家居/移动路由.png" />
									<div>移动路由</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>智慧屏</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/智慧屏/华为智慧屏.png" />
									<div>华为智慧屏</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智慧屏/荣耀智慧屏.png" />
									<div>荣耀智慧屏</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/智慧屏/智慧屏配件.png" />
									<div>智慧屏配件</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>耳机音箱</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/耳机音箱/智能眼镜.png" />
									<div>智能眼镜</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/耳机音箱/智能音箱.png" />
									<div>智能音箱.</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/耳机音箱/蓝牙音箱.png" />
									<div>蓝牙音箱</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/耳机音箱/蓝牙耳机.png" />
									<div>蓝牙耳机</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/耳机音箱/有线耳机.jpg" />
									<div>有线耳机</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/耳机音箱/真无线耳机.png" />
									<div>真无线耳机</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>配件</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/配件/个人电脑配件.png" />
									<div>个人电脑配件</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/保护套.png" />
									<div>保护套</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/生活周边.png" />
									<div>生活周边</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/摄像机镜头.png" />
									<div>摄像机镜头</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/智慧控屏配件.png" />
									<div>智慧控屏配件</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/配件/充电宝线材.png" />
									<div>充电宝线材</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/穿戴配件.png" />
									<div>穿戴配件</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/智能硬件.png" />
									<div>智能硬件</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/配件/移动电源.jpg" />
									<div>移动电源</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>生态产品</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/生态产品/个护美妆.png" />
									<div>个护美妆</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/健康保健.png" />
									<div>健康保健</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/厨电卫浴.png" />
									<div>厨电卫浴</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/安防门锁.png" />
									<div>安防门锁</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/户外出行.png" />
									<div>户外出行</div>
								</div>
							</div>
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/生态产品/数码周边.png" />
									<div>数码周边</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/智能灯光.png" />
									<div>智能灯光</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/环境卫士.png" />
									<div>环境卫士</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/生态产品/运动健身.png" />
									<div>运动健身</div>
								</div>
							</div>
						</div>
					</div>
					<div class="site-category-item">
						<span>增值服务&其他</span>
						<div class="clearfix">
							<div class="clearfix-col">
								<div class="clearfix-item">
									<img src="../static/img/增值服务&其他/AI计算平台.png" />
									<div>AI计算平台</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/增值服务&其他/华为云空间.png" />
									<div>华为云空间</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/增值服务&其他/华为云空间.png" />
									<div>华为云空间</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/增值服务&其他/华为视屏卡.png" />
									<div>华为视屏卡</div>
								</div>
								<div class="clearfix-item">
									<img src="../static/img/增值服务&其他/华为音乐卡.png" />
									<div>华为音乐卡</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
		<div class="penson-channel">
			<ul class="home-channel-list">
				<li class="d1">
					<!-- 用户登陆框 -->
					<div class="i-mall-prompt">
						<div class="w-name">
							<img src="../static/img/img88.jpg" />
						</div>
						<div class="fl">
							<div class="w-reg">
								欢迎来到华为商城，请<a>登陆</a>
								<br>
								还没账号?&nbsp;
								<a>注册</a>
								&nbsp;即可享受&nbsp;>
							</div>
							<div class="w-btn">
								<a>新人福利</a>
								<a>特权频道</a>
							</div>
						</div>
					</div>
				</li>
				<li class="d2">
					<ul>
						<li>
							<a>
								<!-- 小图标 -->
								<div class="p-img">
									<img src="../static/img/x1.png" />
								</div>
								<div class="p-dec">
									1 分钱试用
								</div>
							</a>
						</li>
						<li>
							<a>
								<!-- 小图标 -->
								<div class="p-img">
									<img src="../static/img/x2.png" />
								</div>
								<div class="p-dec">
									以旧换新
								</div>
							</a>
						</li>
						<li>
							<a>
								<!-- 小图标 -->
								<div class="p-img">
									<img src="../static/img/x3.png" />
								</div>
								<div class="p-dec">
									手机充值
								</div>
							</a>
						</li>
						<li>
							<a>
								<!-- 小图标 -->
								<div class="p-img">
									<img src="../static/img/x4.png" />
								</div>
								<div class="p-dec">
									开售提醒
								</div>
							</a>
						</li>
						<li>
							<a>
								<!-- 小图标 -->
								<div class="p-img">
									<img src="../static/img/x5.png" />
								</div>
								<div class="p-dec">
									数码特惠
								</div>
							</a>
						</li>
						<li>
							<a>
								<!-- 小图标 -->
								<div class="p-img">
									<img src="../static/img/x6.png" />
								</div>
								<div class="p-dec">
									优选配件
								</div>
							</a>
						</li>
					</ul>
				</li>
				<li class="d3">
					<div class="p-notice">
						<div class="icon-notice">
							<img src="../static/img/icon3.png" />
						</div>
						<div class="p-notice-content">
							<ul>
								<li>
									<a>【中奖名单】荣耀418 以旧换新活动</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="p-info">
						<ul>
							<li>
								<a>
									<img src="../static/img/r1.png" />
									实名认证
								</a>
							</li>
							<li>
								<a>
									<img src="../static/img/r2.png" />
									芝麻信用
								</a>
							</li>
							<li>
								<a>
									<img src="../static/img/r3.png" />
									优购码

								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!--菜单栏-->
	<div class="home-channel-menu">
		<div class="container layout">
			<ul class="home-promo-list">
				<li class="home_li">
					<a>
						<img src="../static/img/新品/1.png" />
					</a>
				</li>
				<li class="home_li">
					<a>
						<img src="../static/img/新品/2.jpg" />
					</a>
				</li>
				<li class="home_li">
					<a>
						<img src="../static/img/新品/3.jpg" />
					</a>
				</li>
				<li class="home_li">
					<a>
						<img src="../static/img/新品/4.jpg" />
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--热销单品-->
	<div class="page-main">
		<div class="container">
			<div class="box-hd">
				热销单品
			</div>
			<div class="recom">
				<div class="span-232 fl">
					<ul class="grid-promo-list">
						<li class="grid-promo-item">
							<img src="../static/img/热销单品/0.png" />
						</li>
					</ul>
				</div>
				<div class="span-968 fl">
					<ul class="grid-list">
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/1.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/2.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/3.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/4.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/5.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/6.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/7.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
						<li class="grid-item">
							<a class="thumb">
								<p class="grid-img">
									<img src="../static/img/热销单品/8.png">
								</p>
								<div class="grid-title">HUAWEI P40 Pro 5G</div>
								<p class="grid-desc">享3期免息&nbsp;</p>
								<p class="grid-price">¥5988</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="recom-db clearfix">

			</div>
		</div>
	</div>
	<!-- 20160812 首页轮播图下方 end -->
	<div class="channel-floor index-channel-floor" style="height: 160px;">
		<div class="layout">
			<div class="banner-slideshow">
				<div class="hr-27"></div>
				<div class="ec-slider" style="width: 1200px; height: 120px;">
					<ul class="ec-slider-list" style="width: 1200px; height: 120px;">
						<li class="ec-slider-item"
							style="width: 1200px; height: 120px; position: absolute; opacity: 1;">
							<div class="ec-slider-item-img">
								<a><img
										src="https://res.vmallres.com/pimages//pages/picImages/99599208080610299599.jpg" /></a>
							</div>
						</li>
						<li class="ec-slider-item"
							style="width: 1200px; height: 120px; position: absolute; opacity: 1;">
							<div class="ec-slider-item-img">
								<a><img
										src="https://res.vmallres.com/pimages//pages/picImages/99599208080610299599.jpg" /></a>
							</div>
						</li>
						<li class="ec-slider-item"
							style="width: 1200px; height: 120px; position: absolute; opacity: 1; ">
							<div class="ec-slider-item-img">
								<a><img
										src="https://res.vmallres.com/pimages//pages/picImages/99599208080610299599.jpg" /></a>
							</div>
						</li>
						<li class="ec-slider-item"
							style="width: 1200px; height: 120px; position: absolute; opacity: 1;">
							<div class="ec-slider-item-img">
								<a><img
										src="https://res.vmallres.com/pimages//pages/picImages/99599208080610299599.jpg" /></a>
							</div>
						</li>
					</ul>
					<div class="ec-slider-middle">
						<div class="ec-slider-nav">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
						<a class="button-slider-prev" style="display: none;"></a>
						<a class="button-slider-next" style="display: none;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="huawei-computer">
		<div class="bijiben_container">
			<div class="h">
				<h2>笔记本电脑</h2>
				<ul class="channel-nav">
					<li>华为MateBook X系列</li>
					<li>华为MateBook系列</li>
					<li>华为MateBook D系列</li>
					<li>华为MateBook E系列</li>
					<li>华为商用电脑系列</li>
					<li>荣耀MagicBook系列</li>
				</ul>
				<div class="more-button">查看更多 ></div>
			</div>
			<div class="b">
				<div class="goods-list">
					<ul class="goods-list1">
						<li class="goods-items">
							<img src="../static/img/89098373140617389098.png" />
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_EC057BA9FC304F37A60287C1D9E761FACF0EF559795D340Fmp.png" />
							<div class="goods-title">HUAWEI MateBook X</div>
							<p class="goods-desc">3K触控全面屏</p>
							<p class="goods-price">￥8999</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #68beff">轻至1千克</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_CB59BC49A4E1F60D2A1F4C6C349E591D1B3F546807A34180mp.png" />
							<div class="goods-title">HUAWEI MateBook 14</div>
							<p class="goods-desc">2K触控屏轻薄本</p>
							<p class="goods-price">￥6399</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #68beff">触控屏轻薄本</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_C63D050B94E275FBB85207883F49CA2BE8013DE5ECF0616Cmp.png" />
							<div class="goods-title">HUAWEI MateBook 13</div>
							<p class="goods-desc">2K触控全面屏</p>
							<p class="goods-price">￥5399</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #ff6a6e">2K 全面屏</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_02055D8D27B938CD4B258849632626B1D5E40CE291D3E863mp.png" />
							<div class="goods-title">HUAWEI MateBook D 14</div>
							<p class="goods-desc">多屏协同180度开合</p>
							<p class="goods-price">￥4999</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #ff6a6e">轻薄长续航</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_B44197A568DF33725A00C91C919E4D673253D40DA2846C28mp.png" />
							<div class="goods-title">荣耀猎人游戏本 V700</div>
							<p class="goods-desc">强劲游戏性能</p>
							<p class="goods-price">￥7499</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_DB83B1A202546CEEDDE1E60B9298ECCC2DDB64161670491Amp.png" />
							<div class="goods-title">HUAWEI MateBook D 15</div>
							<p class="goods-desc">多屏协同超级快充</p>
							<p class="goods-price">￥4999</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #68beff">便携超级快充</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_402A96A0183A6ACBF7A0E15B06C8C8ED98E1750C9D6A122Dmp.png" />
							<div class="goods-title">荣耀笔记本Pro 2020新款</div>
							<p class="goods-desc">16.1高清大屏 强劲性能</p>
							<p class="goods-price">￥4899</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #ff6a6e">爆款</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_94C37897A70207E984618A91DFB43F500D0A40471D69CF54mp.png" />
							<div class="goods-title">荣耀笔记本14 2020新款</div>
							<p class="goods-desc">7nm强劲处理器 轻薄金属机身</p>
							<p class="goods-price">￥4199</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/428_428_D7965415D130ACFEAFB27199DAD0B1295A101BC3FBBC50E4mp.png" />
							<div class="goods-title">荣耀笔记本14</div>
							<p class="goods-desc">金属轻薄机身长续航</p>
							<p class="goods-price">￥4199</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="huawei-computer">
		<div class="bijiben_container">
			<div class="h">
				<h2>手机</h2>
				<ul class="channel-nav">
					<li>HUAWEI Mate系列</li>
					<li>HUAWEI P系列</li>
					<li>HUAWEI nova系列</li>
					<li>华为畅享系列</li>
					<li>荣耀 V系列</li>
					<li>荣耀 HONOR系列</li>
					<li>荣耀 X系列</li>
					<li>荣耀 Play系列</li>
				</ul>

				<div class="more-button">查看更多 ></div>
			</div>
			<div class="b">
				<div class="goods-list">
					<ul class="goods-list1">
						<li class="goods-items">
							<img src="../static/img/手机（底部）/10.png" />
						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/5.png" />
							<div class="goods-title">华为畅享20 5G</div>
							<p class="goods-desc">购机赠耳机 </p>
							<p class="goods-price">¥1899</p>

						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/2.png" />
							<div class="goods-title">HUAWEI Mate 30 RS 保时捷设计</div>
							<p class="goods-desc">致敬时代</p>
							<p class="goods-price">¥12999</p>

						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/1.png" />
							<div class="goods-title">HUAWEI nova 7 Pro</div>
							<p class="goods-desc">限量赠自拍杆 </p>
							<p class="goods-price">¥3699</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #ff6a6e">热销爆款</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/9.png" />
							<div class="goods-title">华为畅享20 Pro</div>
							<p class="goods-desc">购机赠耳机</p>
							<p class="goods-price">￥1999</p>
							<p class="goods-tips">
								<span class="color01" style="background-color: #ff6a6e">热销爆款</span>
							</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/4.png" />
							<div class="goods-title">荣耀20青春版</div>
							<p class="goods-desc">4800万AI三摄 </p>
							<p class="goods-price">¥1699</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/3.png" />
							<div class="goods-title">华为畅享20 Plus 5G</div>
							<p class="goods-desc">购机赠耳机</p>
							<p class="goods-price">￥4299</p>

						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/6.png" />
							<div class="goods-title">荣耀V30 PRO</div>
							<p class="goods-desc">部分版本优惠500 </p>
							<p class="goods-price">￥3399</p>

						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/7.png" />
							<div class="goods-title">HUAWEI nova 7 5G</div>
							<p class="goods-desc">购机赠自拍杆 </p>
							<p class="goods-price">￥2999</p>
						</li>
						<li class="goods-items1">
							<img src="../static/img/手机（底部）/8.png" />
							<div class="goods-title">荣耀9X</div>
							<p class="goods-desc">最高优惠300 </p>
							<p class="goods-price">￥1199</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--底部-->
	<div class="j-footer">
		<div class="channel-floor index-channel-floor">
			<div class="layout">
				<div class="ad fl">
					<a>
						<img src="https://res.vmallres.com/pimages//pages/picImages/51413938470613931415.png"
							style="float: none;" />
					</a>
				</div>
				<div class="hr-60"></div>
			</div>
		</div>
		<!--口号-20121025 -->
		<div class="slogan-container">
			<div class="slogan">
				<ul>
					<li class="s1">
						<a>
							<i></i>
							百强企业&nbsp;品质保证
						</a>
					</li>
					<li class="s2">
						<a>
							<i></i>
							7天退货&nbsp;15天换货
						</a>
					</li>
					<li class="s3">
						<a>
							<i></i>
							48元起免运费
						</a>
					</li>
					<li class="s4">
						<a>
							<i></i>
							2000家服务店&nbsp; 全国联保
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--服务-->
		<div class="service-container">
			<div class="service">
				<div class="service-l fl">
					<dl class="s1">
						<dt>
							<p class="title">购物相关</p>
						</dt>
						<dd>
							<ol>
								<li>
									<a>购物指南</a>
								</li>
								<li>
									<a>配送方式</a>
								</li>
								<li>
									<a>支付方式</a>
								</li>
								<li>
									<a>常见问题</a>
								</li>
							</ol>
						</dd>
					</dl>
					<dl class="s2">
						<dt>
							<p class="title">保修与退换货</p>
						</dt>
						<dd>
							<ol>
								<li>
									<a>保修政策</a>
								</li>
								<li>
									<a>退换货政策</a>
								</li>
								<li>
									<a>保修状态查询</a>
								</li>
								<li>
									<a>配件防伪查询</a>
								</li>
							</ol>
						</dd>
					</dl>
					<dl class="s3">
						<dt>
							<p class="title">维修与技术支持</p>
						</dt>
						<dd>
							<ol>
								<li>
									<a>服务店</a>
								</li>
								<li>
									<a>预约维修</a>
								</li>
								<li>
									<a>手机寄修</a>
								</li>
								<li>
									<a>备件价格查询</a>
								</li>
								<li>
									<a>上门服务</a>
								</li>
							</ol>
						</dd>
					</dl>
					<dl class="s4">
						<dt>
							<p class="title">特色服务</p>
						</dt>
						<dd>
							<ol>
								<li>
									<a>防伪查询</a>
								</li>
								<li>
									<a>补购保障</a>
								</li>
								<li>
									<a>以旧换新</a>
								</li>
								<li>
									<a>礼品包装</a>
								</li>
							</ol>
						</dd>
					</dl>
					<dl class="s5">
						<dt>
							<p class="title">关于我们</p>
						</dt>
						<dd>
							<ol>
								<li>
									<a>公司介绍</a>
								</li>
								<li>
									<a>华为商城简介</a>
								</li>
								<li>
									<a>华为零售店</a>
								</li>
								<li>
									<a>荣耀零售店</a>
								</li>
								<li>
									<a>商家中心</a>
								</li>
								<li>
									<a>意见反馈</a>
								</li>
							</ol>
						</dd>
					</dl>
					<dl claas="s6">
						<dt class="relative">
							<p class="title">友情链接</p>
							<p class="button">
								<span class="btn btn-prev disabled">
									<< /span>
										<span class="btn btn-next">></span>
							</p>
						</dt>
						<dd>
							<div class="service-list clearfix"></div>
							<ol>
								<li>
									<a>华为集团</a>
								</li>
								<li>
									<a>华为CBG官网</a>
								</li>
								<li>
									<a>荣耀官网</a>
								</li>
								<li>
									<a>花粉俱乐部</a>
								</li>
								<li>
									<a>华为云</a>
								</li>
							</ol>
						</dd>
					</dl>
				</div>
				<div class="service-r fl">
					<dl class="s7">
						<dt>
							<p class="title">950805</p>
						</dt>
						<dd>
							<ol>
								<li><a>7x24小时客服热线（仅收市话费）</a></li>
							</ol>
						</dd>
						<dd>
							<a><i></i> 在线客服</a>
						</dd>
					</dl>
					<div class="service-code clearfix"></div>
				</div>
			</div>
		</div>
		<!-- 2017-02-15-底部-start -->
		<div class="footer-container" style="padding-bottom: 0px;height: 120px;">
			<div class="footer">
				<div class="area">
					<p class="f-logo">
						<a href="#">
							<img src="../static/imgs/flogo.png" alt="">
						</a>
					</p>
					<p class="fl">
						<a href="#">隐私政策</a>
						<a href="#">服务协议</a> Copyright © 2012-2017 VMALL.COM 版权所有 保留一切权利
						<br> 公安备案 苏公网备案
						<em>|</em>
						<a href="#">32011402010009号</a>
						<em>|</em> 增值电信业务经营许可证：苏B2-20130048号
						<em>|</em>
						<br> 网络文化经营许可证：
						<a href="#">苏网文[2015] 1599-026号</a>
					</p>
					<p class="fr">
						<a class="fl" href="#">
							<img src="../static/img/btn-1.jpg" alt="">
						</a>
						<a class="fl" href="#">
							<img src="../static/img/btn-2.jpg" alt="">
						</a>
						<a class="fl" href="#">
							<img src="../static/img/btn-3.jpg" alt="">
						</a>
						<a class="fl" href="#">
							<img src="../static/img/btn-4.jpg" alt="">
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- 设置悬浮工具栏 -->
	<div class="hungBar">
		<!-- 返回顶部 -->
		<a id="return-top" href="#" class="hungBar-top" title="返回顶部">
			<i>返回顶部</i>
		</a>
		<!-- 帮助中心 -->
		<div class="hungBar-content">
			<a href="#" class="hungBar-for-help">
				<i>帮助中心</i>
			</a>
			<!-- 意见反馈 -->
			<!-- <a href="@" class="hungBar-feedback">
			<i>意见反馈</i>
		</a> -->
			<!-- 在线客服 -->
			<!-- <a href="@" class="hungBar-for-help">
			<i>在线客服</i>
		</a> -->
		</div>
	</div>


	<!-- 设置楼梯导航 -->
	<div class="lift">
		<ul>
			<li><a href="javascript:;">首页</a></li>
			<li><a href="javascript:;">轮播图</a></li>
			<li><a href="javascript:;">热销单品</a></li>
			<li><a href="javascript:;">笔记本电脑</a></li>
			<li><a href="javascript:;">手机</a></li>
			<li><a href="javascript:;">底部</a></li>
		</ul>
	</div>
	<script src="../static/js/swiper.js"></script>
	<!-- 引入jquery -->
	<script src="../static/js/jquery-1.11.2.min.js"></script>
	<script src="../static/js/index.js"></script>
</body>

</html>.